@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "TypoSlab_irregular";
  src: url("/fonts/Typoslab_ irregular/TypoSlab Irregular Demo.otf");
  font-display: swap;
}
@import "react-toastify/dist/ReactToastify.css";

html {
  scroll-behavior: smooth;
}

@keyframes oo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.image-gallery fullscreen-modal {
  animation-name: oo;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.cls-1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 6.5px;
}

.cls-2 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3.5px;
}

.cls-3 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2.5px;
}

.cls-4 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2.5px;
}

.image-gallery.fullscreen-modal {
  z-index: 100000 !important;
  background: #211f1fcc !important;
}

.image-gallery-content.fullscreen {
  background: unset !important;
}

.xx:hover div {
  @apply opacity-100;
}

.Dropdown-control {
  background: transparent !important;
  border: none !important;
  cursor: pointer !important;
  @apply h-16;
}

.Dropdown-placeholder {
  padding-top: 23px;
  padding-left: 2px;
  @apply text-gray-600;
}

.Dropdown-arrow {
  @apply mt-4;
}

.contain {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contain::-webkit-scrollbar {
  display: none;
}

.nunito {
  font-family: "nunito", font-sans;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.border-l-1 {
  border-left-width: 1px;
}

hover\:border-none:hover {
  border-style: none;
}

#sidebar {
  transition: ease-in-out all 0.3s;
  z-index: 9999;
}

#sidebar span {
  transition: ease-in-out all 0.1s;
}

.closeNav {
  width: 0;
}

.openNav {
  width: 150px;
  @apply px-4;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
